#title {
        text-align: center;
        background: pink;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
}

img {
        width: 550px;
        height: 400px;
}

table {
        border-collapse: collapse;
        width: 100%;
        background: gray;
}

td {
        border: none;
        /* Thay đổi giá trị border từ 1px solid black sang none */
        padding: 10px;
        text-align: left;
}