#selector li {
        list-style-type: none;
        float: left;
        border: 1px black;
        position: relative;
}

#selector li a {
        text-decoration: none;
        color: white;
        background: blue;
        padding: 5px 10px;
        margin: 2px;
}

#selector li a:hover {
        background: orange;
        color: #fff;
}

#selector li:hover ul {
        display: block;
        position: absolute;
}